body {
	background-color: #f6f6f6;
	font-family: serif;
}

fieldset.reportForm {
	border: 1px solid #ffffff;
}

table {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;
}

table, td, th {
	border: 1px solid #fff;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #fcfcfc;
}

.idented {
	text-indent: 3em;
}

.searchFilter {
	background-color: #e6e6e6;
}

.releasedReport, .releasedReportHeader, .releasedReportData {
	border: 1px solid #fff;
}

.releasedReportData {
	background-color: #fff;
}