<section id="reportSection" >
	<h2>Laudando exame de {{reportctrl.reportingStudy.patientName}}</h2>

	<form name="reportForm">
		<textarea name="report" id="report-editor" rows="20" cols="80"  elem-ready="reportctrl.insertEditor('report-editor')">
			This is my textarea to be replaced with CKEditor.
		</textarea>

		<fieldset class="reportForm">
			<input type="submit" value="Enviar" ng-click="reportctrl.submitReport()"/>
			<input type="submit" value="Cancelar" ng-click="reportctrl.cancelReport()" />
		</fieldset>
	</form>
	
	
</section>