<section id="searchSection">
	<h2>Pesquisa de exames</h2>
	<div class="searchFilter">
		<form class="searchFilter" ng-controller="SearchFilterController as filterCtrl" ng-submit="reportctrl.query(filterCtrl)">
			<span> <label>Nome:</label> <input type="text" ng-model="filterCtrl.queryParams.pna"></span> 
			<span> <label>ID:</label> <input type="text" ng-model="filterCtrl.queryParams.pid"></span>
			<span> <label>Accession:</label> <input type="text" ng-model="filterCtrl.queryParams.acc"></span>
			<span> <label>Modalidade:</label> <input type="text" ng-model="filterCtrl.queryParams.sm"></span> 
			<span> <label>Data inicial:</label ><input type="datetime-local" ng-model="filterCtrl.queryParams.sd" ></span>
			<span> <label>Data final:</label> <input type="datetime-local" ng-model="filterCtrl.queryParams.ed" ></span> 
			<span> <label>Laudo:</label> 
				<select ng-model="filterCtrl.queryParams.rs" ng-options="filterCtrl.reportStatusValues.indexOf(status) as status for status in ['Todos', 'Digitados', 'Liberados']" 
 
						value="0"/>
			</span>
			<input type="submit" value="Pesquisar" />
		</form>
	</div>
	
	<div id="searchResults">
		<h3>Resultados:</h3>
		<table>
			<colgroup>
				<col width="30%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
				<col width="15%">
				<col width="5%">
			</colgroup>
			<thead>
				<tr>
					<th>Nome</th>
					<th>ID</th>
					<th>Accession</th>
					<th>Modalidade</th>
					<th>Data</th>
					<th>Laudo</th>
				</tr>
			</thead>
			<tbody>
				<tr class="studyRow" ng-repeat="study in reportctrl.studies" ng-click="reportctrl.report(study)">
					<td>{{study.patientName}}</td>
					<td>{{study.patientId}}</td>
					<td>{{study.accessionNumber}}</td>
					<td>{{study.modalities}}</td>
					<td>{{study.studyDateTime | date:"dd/MM/yyyy hh:mm"}}</td>
					<td><img ng-src="{{reportctrl.reportStatusIcon(study)}}"/></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>