<section id="searchSection">
	<h2>Pesquisa de exames</h2>
	<div class="searchFilter">
		<form class="searchFilter" ng-controller="SearchFilterController as filterCtrl" ng-submit="reportctrl.query(filterCtrl)">
			<span id="patientName"><label id="patientName">Nome:</label><input type="text"id="patientName" ng-model="filterCtrl.patientName"></span> 
			<span id="patientID"><label id="patientID">ID:</label><input type="text" id="patientID" ng-model="filterCtrl.patientId"></span>
			<span id="accNbr"><label id="accNbr">Accession:</label><input type="text" id="accNbr" ng-model="filterCtrl.accessionNumber"></span>
			<span id="modality"><label id="modality">Modalidade:</label><input type="text" id="modality" ng-model="filterCtrl.modality"></span> 
			<span id="startDate"><label id="startDate">Data inicial:</label><input type="datetime-local" id="startDate" ng-model="filterCtrl.startDate" ></span>
			<span id="endDate"><label id="endDate">Data final:</label><input type="datetime-local" id="endDate" ng-model="filterCtrl.endDate" ></span> 
			<input type="submit" value="Pesquisar" />
		</form>
	</div>
	
	<div id="searchResults">
		<h3>Resultados:</h3>
		<table>
			<colgroup>
				<col width="30%">
				<col width="20%">
				<col width="20%">
				<col width="5%">
				<col width="25%">
			</colgroup>
			<thead>
				<tr>
					<th>Nome</th>
					<th>ID</th>
					<th>Accession</th>
					<th>Modalidade</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr class="studyRow" ng-repeat="study in reportctrl.studies" ng-click="reportctrl.report(study)">
					<td>{{study.patientName}}</td>
					<td>{{study.patientId}}</td>
					<td>{{study.accessionNumber}}</td>
					<td>{{study.modalities}}</td>
					<td>{{study.studyDateTime | date:"dd/MM/yyyy hh:mm"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>